<section>
    <div class="cardapio-lista">
        <div class="row">
            <div class="col s4 bold">Lanche</div>
            <div class="col s4 bold">Ingredientes</div>
            <div class="col s4 bold">Preço</div>
        </div>
        <div class="row no-margin" ng-repeat="lanche in lanches" ng-class="{'linha-impar':$odd, 'linha-par':$even}">
            <a href="lanche/{{lanche.referencia}}">
                <div class="col s4">{{lanche.nome}}</div>
                <div class="col s4">{{lanche.ingredientes.join(', ')}}</div>
                <div class="col s4">{{lanche.preco | currency:'R$ '}}</div>
            </a>
        </div>         
    </div>
</section>