<section>
    <div class="row">
        <div class="col s12 bold">{{lanche.nome}}</div>
        <div class="col s12">{{lanche.ingredientes.join(', ')}}</div>
        <div class="col s12 right-align bold">Preço {{lanche.preco | currency:'R$ '}}</div>
        <div class="col s12"> -
            <span ng-show="lanche.promocoes.length">
                Promoção {{lanche.promocoes.join(', ')}}
            </span>  
        </div>
    </div>
    <div class="cardapio-lista">
        <div class="row">
            <div class="col s3 bold">Ingrediente</div>
            <div class="col s3 bold">Valor</div>
            <div class="col s6 bold">Quatidade</div>
        </div>
        
        <div class="row" ng-repeat="ingrediente in lanche.lista" ng-class="{'linha-impar':$odd, 'linha-par':$even}">
            <div class="col s3">{{ingrediente.nome}}</div>
            <div class="col s3">{{ingrediente.preco | currency:'R$ '}}</div>
            <div class="col s6">
                <a ng-click="removeQuantidade(ingrediente)">
                    <i class="small material-icons">remove_circle_outline</i>
                </a>
                <span class="quantidade">{{ingrediente.quantidade}}</span>
                <a ng-click="adicionaQuantidade(ingrediente)">
                    <i class="small material-icons">add_circle_outline</i>
                </a>
            </div>
        </div>
    </div>

</section>