
.container
{
    margin-top: 20px;
    color: #6a1b9a;
}

.bold
{
    font-weight: 700;
}

.cardapio-lista .row
{
    margin-bottom: unset;
    min-height: 42px;
}

.cardapio-lista .col
{
    min-height: 42px;
    text-align: center;
    padding: 8px;
}

.linha-impar
{
    background-color: white;
    color: #6a1b9a;
    margin-bottom: unset;
    min-height: 42px;
}

.linha-impar a{
    color: #6a1b9a;
}

.linha-par
{
    background-color: #6a1b9a;
    color: white;
    margin-bottom: unset;
    min-height: 42px;
}

.linha-par a{
    color: white;
}

.quantidade{
    bottom: 9px;
    position: relative;
    margin: 10px;
}
